<% content_for :head do %>
  <%= stylesheet_link_tag "jquery.signaturepad.css" %>
  <%= javascript_include_tag "jquery.signaturepad"%>

  <script>
    $(document).ready(function() {
      var options = {
        drawOnly: true,
        defaultAction: 'drawIt',
        validateFields: false,
        output: '.data'
      };
      $('.sigPad').signaturePad(options);
    });
  </script>

<% end %>

<%= form_for :signature, :url => proposition_signatures_path(@proposition.slug, :user_id => @user.id), :html => {:class => 'sigPad'} do |f| %>
  <p class="drawItDesc">Draw your signature</p>
  <div class="clearButton"><a href="#clear">Clear</a></div>
  <div class="sig sigWrapper">
    <canvas class="pad" width="198" height="55"></canvas>
    <input type="hidden" name="data" class="data">
  </div>
  <button type="submit">Next</button>
<% end %>