<% content_for :head do %>
  <%= stylesheet_link_tag "jquery.signaturepad.css" %>
  <%= javascript_include_tag "signature-pad/build/jquery.signaturepad.min.js"%>
  <%= javascript_include_tag "signature-pad/build/json2.min.js"%>

  <script>
    $(document).ready(function() {
      var options = {
        drawOnly: true,
        defaultAction: 'drawIt'
      };
      $('.sigPad').signaturePad(options);
    });
  </script>
<% end %>

<%= form_for :signature, :url => proposition_signatures_path(@proposition.slug), :html => {:class => 'sigPad'} do |f| %>

  <label for="name">Print your name</label>
  <input type="text" name="name" id="name" class="name">
  <p class="drawItDesc">Draw your signature</p>
  <ul class="sigNav">
    <li class="clearButton"><a href="#clear">Clear</a></li>
  </ul>
  <div class="sig sigWrapper">
    <div class="typed"></div>
    <canvas class="pad" width="198" height="55"></canvas>
    <input type="hidden" name="output" class="output">
  </div>
  <button type="submit">Next</button>

<% end %>