<h1 class="prop_title">
  <%= @proposition.title %>
</h1>

<div class="prop_overview_container">
  <%= @proposition.overview %>
</div>
  
<div class="prop_full_container">
  <%= @proposition.full %>
</div>

<div class="sign_button_container">
  <%= sign_button %>
</div>