
<div class="left_content">

  <div class="home_content">

    <div class="livesign_logo_container">
      <%= image_tag "LiveSign_logo.png" %>
    </div>

    <div class="livesign_intro">
      Have people sign your ballot proposition legally online with our state-of-the-art platform.
      <%= link_to 'contact us', "mailto:alainbloch@gmail.com" %> if you'd like to use LiveSign
      for your next world-changing campaign.
    </div>

    <div class="contact_us">
      <%= link_to "Contact Us", "mailto:love@livesign.io", :class => "red_button button"%>
    </div>

  </div>

</div>

<div class="right_content">
  <%= image_tag "ipad_demo.png", :class=> "ipad_image" %>
</div>