<% content_for :main_content do %>

  <div class="centered_container">

    <h1 class="title user_title">Enter in your information</h1>

    <div class="form_container">

      <%= form_for @user, :url => proposition_user_path(@proposition.slug, @user), :html => {:method => :put, :class => "form"} do |f| %>
        <%= render :partial => "form", :object => f %>
      <% end %>

    </div>

  </div>

<% end %>

<% content_for :controls do %>

  <div class="left_content">
    <%= link_to "Back", proposition_path(@proposition.slug), :class => "gray_button button"%>
  </div>

  <div class="middle_button_container">
    <button href="#" class="red_button button" onClick="$('.form').submit();">
      Next <%= image_tag "arrow_white.png", :class => "next_image button_image" %>
    </button>
  </div>
<% end %>