/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /* Fonts */

 @font-face {
     font-family: 'LatoLightRegular';
     src: url('/fonts/lato-light-webfont.eot');
     src: url('/fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
          url('/fonts/lato-light-webfont.woff') format('woff'),
          url('/fonts/lato-light-webfont.ttf') format('truetype'),
          url('/fonts/lato-light-webfont.svg#LatoLightRegular') format('svg');
     font-weight: normal;
     font-style: normal;

 }

 @font-face {
     font-family: 'LatoRegular';
     src: url('/fonts/lato-regular-webfont.eot');
     src: url('/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('/fonts/lato-regular-webfont.woff') format('woff'),
          url('/fonts/lato-regular-webfont.ttf') format('truetype'),
          url('/fonts/lato-regular-webfont.svg#LatoRegular') format('svg');
     font-weight: normal;
     font-style: normal;

 }

 /* Global Styles */

 body {
   margin:0px;
   padding:0px;
   text-align:center;
   background-color:#F5F5F5;
 }

 .main_content {
   margin-top:36px;
   background-color:white;
   border-radius:4px;
   height:600px;
   max-height:600px;
   background-image: url('/assets/small_logo.png');
   background-repeat: no-repeat;
   background-position: 30px 530px;
 }

 .wrapper {
   text-align:left;
   margin:0px auto;
   width:950px;
 }

 a {
   text-decoration: none;
   color:#2E87C8;
 }

/* Generic Styles */

float_container {
  clear:both;
}

.left_content {
 float:left;
 display:inline;
}

.right_content {
 float:right;
 display:inline;
}

.title {
  color:#414042;
  font-size:46px;
  font-family:'LatoLightRegular';
  word-wrap: break-word
}

.sub_title {
  color:#414042;
  font-size:28px;
  font-family:'LatoLightRegular';
  word-wrap: break-word
}

.sub_content {
  color:#58595B;
  font-size:18px;
  font-family:'LatoLightRegular';
  word-wrap: break-word
}

.centered_container {
  text-align:center;
}

.form_container {
}

input, select {
  border-radius:4px;
  border:1px solid #D8DAD8;
  width:530px;
  padding:10px;
  height:34px;
  margin-bottom:15px;
}

.field_with_errors input {
  border:1px solid #ED1C24;
}

.field_with_errors input::-webkit-input-placeholder {
    color:    #ED1C24;
}
.field_with_errors input:-moz-placeholder {
    color:    #ED1C24;
}

.input_text {
  font-family: 'LatoLightRegular';
  font-size: 24px;
  color:#58595B;
}

input:onfocus {
  border:#2E87C8;
}

input[type="checkbox"]{
  /* Hide the input, but have it still be clickable */
  opacity: 0;
  float: left;
  width: 18px;
}

.field_with_errors input[type="checkbox"] + span {
  margin:0;
}

input[type="checkbox"] + span,
.field_with_errors + span.checkbox_label {
  margin: 0;
  clear: none;
  /* Left padding makes room for image */
  padding: 29px 0 29px 50px;
  /* Make look clickable because they are */
  cursor: pointer;
  background: url('/assets/radial_inactive.png') left center no-repeat;
}

input[type='checkbox']:checked + span,
span.checkbox_label.checked {
  background-image: url('/assets/radial_active.png');
}

.grey {
color:#808285;
}

/* Proposition Styles */

.prop_title {
  padding-bottom:45px;
}

.prop_sub_title {
  padding-bottom:20px;
}


.prop_content {
  padding-bottom:40px;
}

/* Custom scroll bar */

.custom_scroll_bar {
  width: 850px;
  height: 470px;
  position: relative;
}

.custom_scroll_bar_handle {
  top: 0;
  right: 0;
  position: absolute;
  width: 10px;
  height: 15px;
  background: #c00;
  cursor: pointer;
}

.custom_scroll_bar_handle:hover {
    background: #f00;
}

.custom_scroll_bar .native {
    height: 470px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.custom_scroll_bar.retained .native {
    width: 600%;
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
}

.custom_scroll_bar .content {
  overflow: hidden;
}

.custom_scroll_bar.retained .content {
    width: 850px;
}

/*  home page */

.ipad_image {
  padding-top:70px;
  height:580px;
}

.livesign_logo_container {
}

.livesign_intro {
  padding-top:32px;
  font-family:"LatoLightRegular";
  font-size:24px;
  padding-bottom:32px;
  width:500px;
  line-height:31px;
  color:#58595B;
}

.home_content {
  text-align: left;
  padding-left:94px;
  padding-top:140px;
}

.view_demo_container {
  text-align:left;
}

.contact_us {
  font-family:"LatoLightRegular";
  font-size:24px;
  margin-top:32px;
}

/* New user page */

.user_title {
  padding-top:50px;
  padding-bottom:30px;
}

.tos_container {
  width:530px;
  text-align:left;
  margin:0px auto;
}

/* Button */


.button_text {

}

.button {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0s 0;
  -moz-transition: all 0s 0;
  -o-transition: all 0s 0;
  transition: all 0s 0;
  padding:0;
  vertical-align: middle;
  text-align: center;
  font-family:'LatoLightRegular';
  border-width: 1px;
  border-style: solid;
  display: inline-block;
  border-color: white;
}

.button:active {
  top:1px;
  position:relative;
}

.red_button {
  -webkit-box-shadow: 0px 1px 0px 0px #ff8272 inset, 0px 0px 0px 4px #e6e6e6;
  -moz-box-shadow: 0px 1px 0px 0px #ff8272 inset, 0px 0px 0px 4px #e6e6e6;
  box-shadow: 0px 1px 0px 0px #ff8272 inset, 0px 0px 0px 4px #e6e6e6;
  background: #f5513c;
  border-color: #ec513c;
  height:82px;
  line-height:82px;
  color:white;
  font-size:26px;
  width:218px;
}


.red_button:active {
  background: #ff6551;
  border-color: #ed5e4b;
}

.button_image {
  vertical-align: middle;
  text-align: center;
  top: -5px;
  position: relative;
}

.button_container {
  text-align:center;
}

.middle_button_container {
    width:722px;
    display: inline-block;
    text-align: center;
}

.gray_button {
  -webkit-box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 1px #e6e6e6;
  -moz-box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 1px #e6e6e6;
  box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 1px #e6e6e6;
  background-color:none;
  border-color: white;
  height:50px;
  line-height:50px;
  color:#808285;
  font-size:24px;
  width:110px;
}

.big_gray_button {
  -webkit-box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 4px #e6e6e6;
  -moz-box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 4px #e6e6e6;
  box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 4px #e6e6e6;
  background-color:none;
  border-color: white;
  height:82px;
  line-height:82px;
  color:#808285;
  font-size:26px;
  width:218px;
}

.gray_button:active,
.big_gray_button:active {
  background: gray;
  border-color: gray;
}

.big_blue_button {
  -webkit-box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 4px #e6e6e6;
  -moz-box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 4px #e6e6e6;
  box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 4px #e6e6e6;
  background-color:#1D71B9;
  border-color: #07355F;
  height:82px;
  line-height:82px;
  color:white;
  font-size:26px;
  width:218px;
}

.big_blue_button:active {
  background: #07355F;
  border-color: #07355F;
}

.next_image {
  padding-left:20px;
}

/* Controls */

.controls {
  margin-top:14px;
}

/* Signature Page */

.signature_title {
  padding-top:50px;
  padding-bottom:15px;
}

.signature_sub_title {
  line-height:31px;
  padding-bottom:15px;
}

.sigWrapper {
  clear: both;
  height: 250px;
}

.signed .sigWrapper {
  border: 0;
}

.pad {
  position: relative;
  border:dotted 1px #808285;
}

.pad.error {
  border:dotted 1px #ED1C24;
}

.current .pad {
  /**
   * For cross browser compatibility, this should be an absolute URL
   * In IE the cursor is relative to the HTML document
   * In all other browsers the cursor is relative to the CSS file
   *
   * http://www.useragentman.com/blog/2011/12/21/cross-browser-css-cursor-images-in-depth/
   */
  cursor: url("../build/pen.cur"), crosshair;
  /**
   * IE will ignore this line because of the hotspot position
   * Unfortunately we need this twice, because some browsers ignore the hotspot inside the .cur
   */
  cursor: url("pen.cur") 16 16, crosshair;
}

.clearButton {
  -webkit-box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 1px #e6e6e6;
  -moz-box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 1px #e6e6e6;
  box-shadow: 0px 1px 0px 0px white inset, 0px 0px 0px 1px #e6e6e6;
  font-size:24px;
  color:#808285;
  margin-left:57px;
  margin-top:15px;
  height:50px;
  line-height:50px;
  width:110px;
}

/* complete page */

.complete_title {
  padding-top: 177px;
  padding-bottom:30px;
}

.complete_sub_title {
  line-height:31px;
}

.complete_button_container {
  padding-top:100px;
}